# Plot of shot types over all teams in a season

In [12]:
from ift6758.data.data_acquisition import Season
import matplotlib as plt
import seaborn as sns
import pandas as pd
import json

#### I chose 2019 because I didn't dl it yet and it is noted as the best season of the decade from this [link](https://champsorchumps.us/records/best-nhl-regular-season-records)

In [2]:
Season2019 = Season(2019,"../ift6758/data")

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1299/1299 [03:07<00:00,  6.93it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1299/1299 [03:55<00:00,  5.52it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1299/1299 [03:10<00:00,  6.82it/s]
100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1299/1299 [03:11<00:00,  6.77it/s]

Len of games_list in 2019 is 1550

In [ ]:
 Season2019.clean_data()

In [5]:
print("test")

test

In [18]:
## Reference on how to use json_normalize: https://pandas.pydata.org/pandas-docs/version/1.2.0/reference/api/pandas.json_normalize.html
df1 = pd.json_normalize(Season2019.data[:10],record_path=['liveData','plays','allPlays'],meta=['gamePk'])
## To add game time
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2596 entries, 0 to 2595
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   result.event               2596 non-null   object
 1   result.eventCode           2596 non-null   object
 2   result.eventTypeId         2596 non-null   object
 3   result.description         2596 non-null   object
 4   about.eventIdx             2596 non-null   int64
 5   about.eventId              2596 non-null   int64
 6   about.period               2596 non-null   int64
 7   about.periodType           2596 non-null   object
 8   about.ordinalNum           2596 non-null   object
 9   about.periodTime           2596 non-null   object
 10  about.periodTimeRemaining  2596 non-null   object
 11  about.dateTime             2596 non-null   object
 12  about.goals.away           2596 non-null   int64
 13  about.goals.home           2596 non-null   int64
 14  players                    2089 non-null   object
 15  coordinates.x              2065 non-null   float64
 16  coordinates.y              2065 non-null   float64
 17  team.id                    2089 non-null   float64
 18  team.name                  2089 non-null   object
 19  team.link                  2089 non-null   object
 20  team.triCode               2089 non-null   object
 21  result.secondaryType       572 non-null    object
 22  result.strength.code       58 non-null     object
 23  result.strength.name       58 non-null     object
 24  result.gameWinningGoal     58 non-null     object
 25  result.emptyNet            58 non-null     object
 26  result.penaltySeverity     89 non-null     object
 27  result.penaltyMinutes      89 non-null     float64
 28  gamePk                     2596 non-null   object
dtypes: float64(4), int64(5), object(20)
memory usage: 588.3+ KB

In [30]:
df1.head()

,result.event,result.eventCode,result.eventTypeId,result.description,about.eventIdx,about.eventId,about.period,about.periodType,about.ordinalNum,about.periodTime,...,team.link,team.triCode,result.secondaryType,result.strength.code,result.strength.name,result.gameWinningGoal,result.emptyNet,result.penaltySeverity,result.penaltyMinutes,gamePk
0,Game Scheduled,VGK1,GAME_SCHEDULED,Game Scheduled,0,1,1,REGULAR,1st,00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019010001
1,Period Ready,VGK4,PERIOD_READY,Period Ready,1,4,1,REGULAR,1st,00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019010001
2,Period Start,VGK7,PERIOD_START,Period Start,2,7,1,REGULAR,1st,00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019010001
3,Faceoff,VGK52,FACEOFF,Christian Dvorak faceoff won against Cody Glass,3,52,1,REGULAR,1st,00:00,...,/api/v1/teams/53,ARI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019010001
4,Hit,VGK8,HIT,Christian Fischer hit Jake Bischoff,4,8,1,REGULAR,1st,00:13,...,/api/v1/teams/53,ARI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019010001

In [37]:
df1['players']
df1['about.goals.away']
df1[['players','about.goals.away','about.goals.home']]

,players,about.goals.away,about.goals.home
0,NaN,0,0
1,NaN,0,0
2,NaN,0,0
3,"[{'player': {'id': 8477989, 'fullName': 'Chris...",0,0
4,"[{'player': {'id': 8478432, 'fullName': 'Chris...",0,0
...,...,...,...
2591,"[{'player': {'id': 8477937, 'fullName': 'Jake ...",2,2
2592,"[{'player': {'id': 8477937, 'fullName': 'Jake ...",3,2
2593,NaN,3,2
2594,NaN,3,2
2595,NaN,3,2