# Notebook for feature engineering II

In [1]:
%load_ext autoreload
%autoreload 2

#Imports
import pandas as pd
import requests
import os
from tqdm.notebook import tqdm
import pickle
import sys
import json
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from  ift6758.data.data_acquisition import Season
from ift6758.visualizations.simple_visualization import Utilities

In [2]:
season2015 = Season(2015,"../ift6758/data")
season2016 = Season(2016,"../ift6758/data")
season2017 = Season(2017,"../ift6758/data")
season2018 = Season(2018,"../ift6758/data")
season2019 = Season(2019,"../ift6758/data")

In [3]:
df_2015 = season2015.clean_data()
df_2016 = season2016.clean_data()
df_2017 = season2017.clean_data()
df_2018 = season2018.clean_data()
df_2019 = season2019.clean_data()

File already Exists, loading from ../ift6758/data/PICKLE//2015_clean.pkl
File already Exists, loading from ../ift6758/data/PICKLE//2016_clean.pkl
File already Exists, loading from ../ift6758/data/PICKLE//2017_clean.pkl
File already Exists, loading from ../ift6758/data/PICKLE//2018_clean.pkl
File already Exists, loading from ../ift6758/data/PICKLE//2019_clean.pkl

In [31]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83057 entries, 0 to 83056
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   result.event               83057 non-null  object
 1   gamePk                     83057 non-null  object
 2   team.name                  83057 non-null  object
 3   about.period               83057 non-null  int64
 4   about.periodTime           83057 non-null  object
 5   about.periodType           83057 non-null  object
 6   about.periodTimeRemaining  83057 non-null  object
 7   coordinates.x              82987 non-null  float64
 8   coordinates.y              82987 non-null  float64
 9   result.secondaryType       82978 non-null  object
 10  result.emptyNet            7815 non-null   object
 11  result.strength.name       8037 non-null   object
 12  shooter                    83057 non-null  object
 13  goalie                     82659 non-null  object
dtypes: float64(2), int64(1), object(11)
memory usage: 8.9+ MB

(None,
   result.event      gamePk             team.name  about.period  \
 0         Shot  2019010001  Vegas Golden Knights             1
 1         Shot  2019010001       Arizona Coyotes             1
 2         Shot  2019010001  Vegas Golden Knights             1

   about.periodTime about.periodType about.periodTimeRemaining  coordinates.x  \
 0            00:52          REGULAR                     19:08          -34.0
 1            01:12          REGULAR                     18:48           67.0
 2            01:46          REGULAR                     18:14          -36.0

    coordinates.y result.secondaryType result.emptyNet result.strength.name  \
 0           19.0           Wrist Shot             NaN                  NaN
 1          -15.0            Snap Shot             NaN                  NaN
 2           32.0            Snap Shot             NaN                  NaN

            shooter          goalie
 0     Reilly Smith       Adin Hill
 1     Robbie Russo  Malcolm Subban
 2  Zach Whitecloud       Adin Hill  )

In [123]:
 df_2019['result.secondaryType'].sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0        Wrist Shot
1         Snap Shot
2         Snap Shot
3         Snap Shot
4        Wrist Shot
            ...
83052    Wrist Shot
83053      Backhand
83054    Wrist Shot
83055    Wrist Shot
83056    Wrist Shot
Name: result.secondaryType, Length: 83057, dtype: object>

## From the already tidied data, include the following features:
* Game seconds
* Game period
* Coordinates (x,y, separate columns)
* Shot distance
* Shot angle
* Shot type
* Empty net

### Here the *Game seconds* feature preprocessing

In [72]:
df_2019['about.periodTime']

0        00:52
1        01:12
2        01:46
3        04:00
4        04:39
         ...
83052    05:04
83053    05:22
83054    06:33
83055    07:24
83056    08:02
Name: about.periodTime, Length: 83057, dtype: object

In [86]:
df_test = pd.DataFrame()
df_test['about.periodTime'] = pd.to_timedelta('00:' + df_2019['about.periodTime'].astype(str)) #concat '00:' to have the format 'hh:mm:ss'

In [104]:
df_test['GameSeconds'] = df_test['about.periodTime'].dt.total_seconds()

In [105]:
df_test['GamePeriod'] = df_2019['about.period']
df_test

      about.periodTime  GameSeconds
0      0 days 00:00:52         52.0
1      0 days 00:01:12         72.0
2      0 days 00:01:46        106.0
3      0 days 00:04:00        240.0
4      0 days 00:04:39        279.0
...                ...          ...
83052  0 days 00:05:04        304.0
83053  0 days 00:05:22        322.0
83054  0 days 00:06:33        393.0
83055  0 days 00:07:24        444.0
83056  0 days 00:08:02        482.0

[83057 rows x 2 columns]